<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Газпром питание</title>
</head>
<body>
<nav class="navbar">
  <h1>
    <a [routerLink]="['/']">Роутинг</a>
  </h1>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/contacts']">Контакты</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/about']">О компании</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/cart']">Корзина</a>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="card">
    <router-outlet></router-outlet>
  </div>
</div>
</body>
</html>
